<div class="p-4">
  <form
    class="w-75 example-form"
    [formGroup]="CreateUserForm"
    (ngSubmit)="handleCreateUser()"
  >
    <div>
      <h1 style="color: rgb(1, 1, 102)" class="mb-3">Create User</h1>
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example1">Fullname</label>
      <input
        type="text"
        id="form3Example1"
        autocomplete="off"
        formControlName="fullname"
        class="form-control"
        placeholder="Enter Full Name"
      />
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example2">Username</label>
      <input
        type="text"
        id="form3Example2"
        autocomplete="off"
        class="form-control"
        formControlName="username"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example3">Email</label>
      <input
        type="email"
        id="form3Example3"
        formControlName="email"
        autocomplete="off"
        class="form-control"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example3">Password</label>
      <input
        type="password"
        id="form3Example4"
        formControlName="pass"
        autocomplete="new-password"
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
    <div class="form-outline mb-3">
      <label for="exampleFormControlSelect2">Choose User Role</label>
     <mat-select placeholder="Select Role" class="form-control" [(value)]="selectedRoleId">
      <mat-select-trigger>
        {{getRoleName()}}
      </mat-select-trigger>
      <mat-option [value]="AdminId">
        <div class="m-3">
          <div style="font-size: medium;">Administrator</div>
          <div style="font-size: small;color: rgb(88, 88, 88);">
            Admin can do most thing, like update settings and add other admin
          </div>
        </div>
      </mat-option>
      <mat-option [value]="ManagerId">
        <div class="m-3">
          <div style="font-size: medium;">Manager</div>
          <div  style="font-size: small;color: rgb(88, 88, 88);">
            Manager can access all over the projects but they can only manage
            assigned projects
          </div>
        </div>
      </mat-option>
      <mat-option [value]="MemberId">
        <div class="m-3">
          <div style="font-size: medium;">Member</div>
          <div  style="font-size: small;color: rgb(88, 88, 88);">
            Member can only access the project and perform the task they are
            assigned
          </div>
        </div>
      </mat-option>
     </mat-select>
    </div>
    <div class="mt-4 pt-2">
      <button
        [disabled]="CreateUserForm.invalid || !selectedRoleId"
        type="submit"
        class="btn btn-primary"
      >
        <div
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
          role="status"
        ></div>
        <span *ngIf="!loading">Create</span>
      </button>
    </div>
  </form>
</div>
