<div
  class="d-flex justify-content-between border"
  style="position: sticky; top: 0; background-color: white; z-index: 999;height: 60px;"
>
  <div class="d-flex align-items-center gap-5">
    <div class="d-flex align-items-center gap-2">
      <img
        src="assets/logo.svg"
        width="30"
        height="30"
        class="mx-2 d-inline-block align-top"
        alt=""
      />
      <div class="fs-5">Ticket Management System</div>
    </div>
  </div>
  <div
    class="d-flex align-items-center gap-2"
    style="margin-right: 5px; cursor: pointer"
  >
    <div mat-button [matMenuTriggerFor]="userMenu" id="output"></div>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="p-3 px-4">
        <h3>Account</h3>
        <div class="d-flex align-items-center gap-2">
          <div
            style="
              display: flex;
              width: 40px;
              height: 40px;
              background-color: rgb(40, 38, 207);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              color: white;
            "
          >
            {{ LoggedInUser.username[0].toUpperCase() }}
          </div>
          <div>
            <div>{{ LoggedInUser.username }}</div>
            <div style="font-size: small; color: rgb(82, 82, 82)">
              {{ LoggedInUser.email }}
            </div>
            <div style="font-size: small; color: rgb(82, 82, 82)">
              {{ LoggedInUser.roleName }}
            </div>
          </div>
        </div>
        <div class="mt-4">
          <button *ngIf="LoggedInUser.roleId === AdminId" [routerLink]="['/users']" class="btn btn-light w-100 border">
            Users
          </button>
          <button
            (click)="onHandleLogout()"
            class="btn btn-dark  w-100 border mt-2 "
          >
            Logout
          </button>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
