<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form (ngSubmit)="LoginUser()" [formGroup]="loginForm">
                <div>
                    <h2 class="mb-4 ">Login to Your Account</h2>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Username</label>
                    <input formControlName="username" type="text" id="form3Example3"
                        class="form-control form-control-lg" placeholder="Enter username" />
                    <small *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched"
                        class="text-danger">*Username is required</small>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input formControlName="password" type="password" id="form3Example4"
                        class="form-control form-control-lg" placeholder="Enter password" />
                    <small *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
                        class="text-danger">*Password is required</small>
                    <small *ngIf="loginForm.get('password').hasError('minlength')" class="text-danger">
                        Password length should be at least 6
                    </small>
                </div>
                <small *ngIf="error && error.status === 404" class="text-danger mb-3">Entered Credentials are not Matched</small>
                <small *ngIf="error && error?.status !== 404" class="text-danger mb-3">Error occured while Registering
                    In</small>
                <div class="d-flex justify-content-between align-items-center mt-3 ">
                    <a [routerLink]="'/forgetPassword'" class="text-primary ">Forgot password?</a>
                </div>
                
                <div class=" mt-4 pt-2">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg w-100 ">
                        <div *ngIf="loading" class="spinner-border"style="width: 1.8rem; height: 1.8rem;" role="status"></div>
                        <span *ngIf="!loading">Login</span>
                    </button>
                    <p class="small mt-2 pt-1 mb-0">Don't have an account? <span style="cursor: pointer;"
                            [routerLink]="'/register'" class="text-danger">Register</span></p>
                </div>

            </form>
        </div>
    </div>
</section>