<div class="d-flex align-items-center justify-content-center" style="background-color: #b4e5f5;height: 100vh;">
    <div class="bg-light p-3 rounded" style="height: max-content; width: 30vw;">
        <h3 class="mb-4">Forget Password</h3>

        <form [formGroup]="forgetPassForm" (ngSubmit)="handleForgetPassword()">
            <div class="form-group mb-2">
                <label for="exampleInputUsername">Enter Your Username</label>
                <input formControlName="username" type="text" class="form-control" id="exampleInputUsername"
                    placeholder="Enter username">
                <small
                    *ngIf="forgetPassForm.get('username').hasError('required') && forgetPassForm.get('username').touched"
                    class="text-danger">*Username is required</small>
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputPassword1">Password</label>
                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Password">
                <small
                    *ngIf="forgetPassForm.get('password').hasError('required') && forgetPassForm.get('password').touched"
                    class="text-danger">*Password is required</small>
                <small *ngIf="forgetPassForm.get('password').hasError('minlength')" class="text-danger">
                    Password length should be at least 6
                </small>
            </div>
            <small *ngIf="error?.status === 404" class="text-danger mb-3">Username not Found</small>
            <small *ngIf="error?.ok && error?.status !== 404" class="text-danger mb-3">Error occured while logging In</small>
            <button type="submit" class="btn btn-primary w-100" [disabled]="forgetPassForm.invalid">
                <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></div>
                <span *ngIf="!loading">Submit</span>
            </button>
        </form>
    </div>

</div>