<div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="d-flex align gap-2">
        <div class="border p-2 bg-light rounded " style="height: 300px; width: 250px;">
            BACKLOG
        </div>
        <div class="border p-2 bg-light rounded " style="height: 300px; width: 250px;">
            SELECTED FOR DEVELOPMENT
        </div>
        <div class="border p-2 bg-light rounded " style="height: 300px; width: 250px;">
            IN PROGRESS
        </div>
        <div class="border p-2 bg-light rounded " style="height: 300px; width: 250px;">
            DONE
        </div>
    </div>
</div>