<div class="d-flex justify-content-center align-items-center gap-3 mt-5 ">
    <div>
        <div class="d-flex gap-3 justify-content-center ">
            <img src="assets/logo.png" width="50px" height="50px">
            <p class="fs-4 ">Add New Book</p>
        </div>
        <div style="width:40vw;padding: 20px;background-color: rgb(243, 243, 243);" class="rounded ">
            <form [formGroup]="BookForm" (ngSubmit)="AddBook()">
                <div class="form-group mb-2 ">
                    <label for="exampleInputTitle">Book Title</label>
                    <input formControlName="bookname" type="text" class="form-control" id="exampleInputTitle" placeholder="Enter Book Title">
                    <small *ngIf="BookForm.get('bookname').hasError('required') && BookForm.get('bookname').touched" class="text-danger">*Book title is required</small>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputAuthorname">Authorname</label>
                    <input formControlName="authorname" type="text" class="form-control" id="exampleInputAuthorname"
                        placeholder="Enter Authorname">
                        <small *ngIf="BookForm.get('authorname').hasError('required') && BookForm.get('authorname').touched" class="text-danger">*Authorname is required</small>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleDescription">Book Description</label>
                    <textarea formControlName="bookdescription" class="form-control" id="exampleDescription" rows="3"></textarea>
                    <small *ngIf="BookForm.get('bookdescription').hasError('required') && BookForm.get('bookdescription').touched" class="text-danger">*Book description is required</small>
                    <small *ngIf="BookForm.get('bookdescription').hasError('minlength')" class="text-danger">Description should be minimum 60 character</small>
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">🔗</div>
                    </div>
                    <input (change)="handleChange($event)"  formControlName="imgurl" type="text" class="form-control" id="exampleLink" placeholder="Link for Picture">
                </div>
                <small *ngIf="BookForm.get('imgurl').hasError('required') && BookForm.get('imgurl').touched" class="text-danger">*Book ImageURL is required</small>
                <button [disabled]="BookForm.invalid" class="btn text-light w-100 mt-2 " style="background-color: teal;">
                    <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></div>
                    <span *ngIf="!loading">Add Book</span>
                </button>
            </form>
        </div>
    </div>
    <div style="height: 300px; width: 300px;">
        <img *ngIf="BookForm.value.imgurl === null || BookForm.value.imgurl === ''" style="width: 100%;height: 100%;"  src="https://static.vecteezy.com/system/resources/previews/011/328/913/non_2x/picture-gallery-image-dotted-line-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg" alt="">
        <img *ngIf="BookForm.value.imgurl !== null && BookForm.value.imgurl !== ''" style="width: 100%;height: 100%;"  src={{BookForm.value.imgurl}} alt="">
    </div>
    
</div>