<div class="d-flex" style="position: sticky; top: 60px">
  <div
    *ngIf="comp"
    style="height: calc(100vh - 60px); width: 30px; position: relative"
    id="side"
  >
    <div (click)="openDrawer()" id="side-item" class="border">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
  <div>
    <mat-drawer-container
      class="example-container"
      [hasBackdrop]="false"
      #drawerContainer
      style="position: relative"
    >
      <mat-drawer
        style="background-color: #ffffff; height: 100%; position: relative"
        #drawer
        class="p-3"
        [mode]="'side'"
      >
        <div class="mt-3">
          <div>
            <div class="d-flex align-items-center gap-2">
              <img
                class="rounded-1"
                width="30"
                height="30"
                src="{{ project?.avatarUrl }}"
              />
              <div>
                <div class="fw-medium">
                  {{ project && project.projectname }}
                </div>
              </div>
            </div>
            <div
              [routerLink]="'/projects'"
              id="Link"
              class="d-flex align-items-center p-3 gap-3 mt-3"
            >
              <div
                style="
                  width: 20px;
                  height: 20px;
                  background-color: rgb(90, 90, 90);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                "
              >
                <mat-icon
                  style="
                    font-size: medium;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                  "
                  >arrow_back</mat-icon
                >
              </div>
              <div>Back to Project</div>
            </div>
            <div id="border"></div>
            <div *ngIf="type!=='Board'">
              <div>
                <div class="m-3 fw-medium">Project Setting</div>
              </div>
              <div
                *ngIf="AccessToDetails()"
                [routerLink]="['/projects', projectId, 'details']"
                id="Link"
                class="d-flex align-items-center p-3"
              >
                <div>Details</div>
              </div>
              <div
                id="Link"
                [routerLink]="['/projects', projectId, 'people']"
                class="d-flex align-items-center p-3"
              >
                <div>Peoples</div>
              </div>
            </div>
          </div>
        </div>
        <div (click)="closeDrawer()" id="sidenav-item" class="border">
          <mat-icon>chevron_left</mat-icon>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
