<div class="d-flex" style="position: sticky;top: 0;">
  <div style="background-color: rgb(34, 34, 250); height: 100vh; width: 60px">
    <div class="d-flex align-items-center flex-column mt-3 gap-3">
      <img
        src="assets/logo.svg"
        width="40"
        height="40"
        class="d-inline-block align-top"
        alt=""
      />
      <div class="d-flex flex-column gap-3">
        <mat-icon class="text-light fs-3">search</mat-icon>
        <mat-icon (click)="handleOpenTask()" class="text-light fs-3">add</mat-icon>
        <mat-icon (click)="drawer.toggle()" class="text-light fs-3"
          >view_sidebar</mat-icon
        >
      </div>
    </div>
  </div>
  <div>
    <mat-drawer-container class="example-container" [hasBackdrop]="false" >
      <mat-drawer class="p-3" style="background-color:#f5f3f3;" #drawer [mode]="'side'">
        <div>
          <h1 class="text-primary ">TMS</h1>
        </div>
        <div
          class="side-items d-flex flex-column gap-3 mt-4"
          style="color: rgb(97, 97, 97)"
        >
          <div [routerLink]="'/board'" class="d-flex gap-1 align-items-center">
            <mat-icon class="fs-5">view_kanban</mat-icon>
            <div class="fs-6 ">Board</div>
          </div>
          <div [routerLink]="'/projects'" style="display: flex; gap: 3px">
            <mat-icon class="fs-5"
              >settings</mat-icon
            >
            <div  class="fs-6 ">Projects</div>
          </div>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
