<div class="p-4">
  <h1>Add Members to Project</h1>
  <label>Username</label>
  <div style="position: relative; width: 100%" class="mb-3">
    <div class="border d-flex align-items-center px-2">
      <div
        [ngStyle]="{
          'background-color': selectedUser ? 'rgb(92, 89, 255)' : 'white'
        }"
        style="
          display: flex;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: small;
        "
      >
        {{ selectedUser && selectedUser.username[0].toUpperCase() }}
      </div>
      <input
        type="text"
        id="form3Example1"
        class="border-0 p-2 w-100"
        [value]="selectedUser && selectedUser.username"
        style="outline: none"
        placeholder="example John Doe"
        autocomplete="off"
        (input)="handleChange($event)"
      />
    </div>

    <div
      *ngIf="filteredArray && filteredArray.length > 0"
      style="
        position: absolute;
        width: 100%;
        max-height: 80px;
        background-color: #ffff;
        margin-top: 5px;
      "
      class="rounded border p-1"
    >
      <div
        [ngStyle]="{ opacity: CheckAssigned(item) ? 0.5 : 1 }"
        (click)="SetUser(item)"
        *ngFor="let item of filteredArray"
        id="Lead-item"
        class="d-flex align-items-center gap-2 p-2"
      >
        <div
          style="
            display: flex;
            width: 20px;
            height: 20px;
            background-color: rgb(92, 89, 255);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            color: white;
          "
        >
          {{ item.username[0].toUpperCase() }}
        </div>
        <div>{{ item.username }}</div>
        <small class="mx-3 text-dark-emphasis" *ngIf="CheckAssigned(item)"
          >Already Added</small
        >
      </div>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button (click)="handleCloseDialog()" class="btn btn-light rounded-1">
      Cancel
    </button>
    <button (click)="HandleAssignedUser()" class="btn btn-primary rounded-1">
      <div
        *ngIf="loading"
        class="spinner-border"
        style="width: 1.8rem; height: 1.8rem"
        role="status"
      ></div>
      <span *ngIf="!loading">Add</span>
    </button>
  </div>
</div>
