<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center vh-100 ">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form (ngSubmit)="OnhandleRegister()" [formGroup]="registerForm">
                <div>
                    <h1 class="mb-4 ">Register your account</h1>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Username</label>
                    <input formControlName="username" type="text" id="form3Example2"
                        class="form-control form-control-lg" placeholder="Enter username" />
                    <small
                        *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched"
                        class="text-danger">*Username is required</small>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" />

                    <small *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
                        class="text-danger">*Email is required</small>
                    <small *ngIf="registerForm.get('email').hasError('email')" class="text-danger">Enter a Valid
                        Email</small>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input formControlName="password" type="password" id="form3Example4"
                        class="form-control form-control-lg" placeholder="Enter password" />

                    <small
                        *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"
                        class="text-danger">*Password is required</small>
                    <small *ngIf="registerForm.get('password').hasError('minlength')" class="text-danger">
                        Password length should be at least 6
                    </small>
                </div>
                <small *ngIf="error && error.status === 409" class="text-danger mb-3">Account already present with same
                    credentials</small>
                <small *ngIf="error && error?.status !== 409" class="text-danger mb-3">Error occured while Registering
                    In</small>
                <div class="mt-4 pt-2">
                    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-lg w-100 ">
                        <div *ngIf="loading" class="spinner-border"style="width: 1.8rem; height: 1.8rem;" role="status"></div>
                        <span *ngIf="!loading">Register</span>
                    </button>
                    <p class="mt-2 pt-1 mb-0">Already have an account <span style="cursor: pointer;"
                            [routerLink]="'/login'" class="text-danger">login</span></p>
                </div>
            </form>
        </div>
    </div>
</section>