<div class="p-4">
  <form class="w-75 example-form">
    <div>
      <h1 style="color: rgb(1, 1, 102)" class="mb-3">Create New Project</h1>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3">Project Shortname</label>
      <input
        type="text"
        id="form3Example3"
        class="form-control"
        placeholder="Enter Project Shortname"
      />
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example4">Project Fullname</label>
      <input
        type="text"
        id="form3Example4"
        class="form-control"
        placeholder="Enter Project Full Name"
      />
    </div>
    <div class="form-outline mb-3">
      <label for="exampleFormControlSelect2">Members</label>
      <div
        *ngIf="AddedMember && AddedMember.length > 0"
        class="w-100 border p-3 d-flex flex-wrap gap-2"
      >
        <div
          *ngFor="let item of AddedMember"
          class="d-flex align-items-center gap-1 rounded-2 p-1"
          style="width: max-content; background-color: rgb(223, 223, 223)"
        >
          <div
            style="
              display: flex;
              width: 20px;
              height: 20px;
              background-color: rgb(203, 61, 247);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
            "
          >
            H
          </div>
          <div>{{ item.full_name }}</div>
          <mat-icon
            (click)="handleDeleteMember(item.id)"
            class="fs-5 d-flex aiign-item-center justify-content-center"
            style="cursor: pointer"
            >close</mat-icon
          >
        </div>
      </div>
      <div class="position-relative">
        <input
          (input)="handleChange($event)"
          class="form-control"
          placeholder="Select Member"
        />

        <div
          *ngIf="filteredArray && filteredArray.length > 0"
          class="position-absolute border w-100 p-2"
          style="max-height: 100px; background-color: white; overflow-y: auto"
        >
          <div
            (click)="handleAddMember(item.id)"
            *ngFor="let item of filteredArray"
            class="d-flex align-items-center gap-2 m-3"
            style="cursor: pointer"
          >
            <div
              style="
                display: flex;
                width: 30px;
                height: 30px;
                background-color: rgb(203, 61, 247);
                border-radius: 50%;
                justify-content: center;
                align-items: center;
              "
            >
              {{ item.full_name[0] }}
            </div>
            <div>{{ item.full_name }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-outline mb-3">
      <label for="exampleFormControlSelect1">Category</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Web App</option>
        <option>Mobile App</option>
      </select>
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form3Example4">Project Description</label>
      <textarea
        rows="3"
        type="text"
        id="form3Example4"
        class="form-control"
      ></textarea>
    </div>

    <div class="mt-4 pt-2">
      <button class="btn btn-primary">Create Project</button>
    </div>
  </form>
</div>
